# Ignore all files by default
*

# Allow only the ecommerce project directory
!ecommerce-centro-medico-la-molina/

# Allow all files and subdirectories within the ecommerce project
ecommerce-centro-medico-la-molina/**

# Allow backend directory
!backend/

# Allow all files and subdirectories within the backend
backend/**

# Ignore specific files within the projects
# ecommerce-centro-medico-la-molina/node_modules/
# ecommerce-centro-medico-la-molina/.env
backend/node_modules/
backend/.env
